{% extends "base.html" %}

{% block table %}
    {% if data == 0 %}
        <p>No data</p>
    {% else %}
        <div class=week-div>
        {% for lesson in data %}
            
                <div class=hour-div style="grid-column: {{ lesson['positionIndex'][0] }}; grid-row: {{ lesson['positionIndex'][1] }}">
                    <div class=lesson-div>
                        {{ lesson["positionIndex"] }}
                        {{ lesson["lessonDate"], lesson["lessonStart"], lesson["courseName"], lesson["roomName"] }}
                    </div>
                </div>
            
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}