{% extends "base.html" %}

{% block table %}

    {% if data == 0 %}
        <p>No data</p>
    {% else %}

        <div class=week-div>
        {% set ns = namespace(previousDate="") %}
        {% for hour in data %}

            {% if hour["lessonDate"] != ns.previousDate %}
                <div class=day-label style="grid-column: {{ hour['positionIndex'][0] }}; grid-row: 0">
                    {{ hour["lessonDate"] }}
                </div>
                {% set ns.previousDate = hour["lessonDate"] %}
            {% endif %}

            <div class=hour-div style="grid-column: {{ hour['positionIndex'][0] }}; grid-row: {{ hour['positionIndex'][1] }}">
                {% for lesson in data %}
                    {% if lesson['positionIndex'] == hour['positionIndex'] %}
                        <div class="lesson-div {{'cancelled' if lesson['timetableEntryTypeShort'] == 'cancel'}}">
                            <div class="lesson-header">
                                <div class="lesson-title">
                                    {{ lesson["title"] }}
                                    <div class="tooltip">
                                        {{ lesson["title"] }} <br> {{ lesson["course"] }}
                                    </div>
                                </div>
                                <div class="lesson-subtitle">
                                    {{ lesson["lessonStart"][:5] }}
                                    <div class="tooltip">
                                        {{ lesson["lessonDate"] }} <br> {{ lesson["lessonStart"] }}
                                    </div>
                                </div>
                            </div>
                            <div class="lesson-body">
                                <div class="lesson-info">
                                    {{ lesson["roomName"] }} {{ lesson["teacherAcronym"] }}
                                    <div class="tooltip">
                                        {{ lesson["roomName"] }} {{ lesson["teacherAcronym"] }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

        {% endfor %}
        </div>
        
    {% endif %}
{% endblock %}